html {
    background-color: #252525;
    color: #c0c0c0;
    font-size: 110%;
}

header, footer {
    background-color: #202020;
}

a, footer p {
    color: #c7c7c7;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a:hover {
    color: #ebebeb;
}

.logo {
    border: none;
}

.home-ref {
    background: url('../images/app_logo.png') no-repeat;
    display: block;
    width: 308px;
    height: 80px;
    margin-right: 5px;
}

.topmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #202020;
}

.topmenu-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topmenu-item-ref {
    color: #b5b5b5;
    padding: 10px;
    text-decoration: none;
}

.topmenu-item-ref:hover {
    color: #e0e0e0;
}

.topmenu-right .logout-ref {
    display: flex;
    align-items: center;
    color: #b5b5b5;
    padding: 10px;
    text-decoration: none;
}

.topmenu-right .logout-ref:hover {
    color: #e0e0e0;
}


.logout-ref {
    display: flex;
    align-items: center;
    color: #b5b5b5;
    padding: 25px;
}

.logout-ref:hover {
    color: #e0e0e0;
}

.page-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.page {
    padding: 0 30px;
    font-size: 20px;
}

.page-ref {
    color: #d0d0d0;
    text-decoration: none;
}

.page-ref:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

.current-page {
    text-decoration: underline;
    color: #b5b5b5;
    font-size: 20px;
}

.success-message {
    background-color: #005000;
    text-align: center;
}

.errors {
    background-color: #7a1010;
    text-align: center;
}

.info {
    background-color: #454545;
    text-align: center;
}


::-webkit-scrollbar {
    background-color: #303030;
    width: 13px;
    height: 13px;
}

.post-imgs-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 5px;
}

.post-imgs-container a {
    flex: 0 0 auto;
}

.post-img-uniform {
    height: 305px;
    min-width: 305px;
    object-fit: cover;
    display: block;
    border-radius: 0.25rem;
}