html {
      font-size: 110%;
      background-color: #252525;
      color: #c0c0c0;
      text-align: left;
      font-family: Verdana;
  }

header {
    background-color: #202020;
    text-align: justify;
}

a {
    color: #c7c7c7;
}

a:hover {
    color: #ebebeb;
}

button {
    background-color: #303030;
    color: #d0d0d0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    font-family: Gabriola;
    font-size: 18px;
}

select {
    background-color: #404040;
    color: #d2d2d2;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.home-ref, .topmenu-item-ref, .login-ref {
    text-decoration: none;
    text-align: center;
}

.logo {
    border: none;
}

.home-ref {
    background: url('../images/app_logo.png') no-repeat;
    display: block;
    width: 308px;
    height: 80px;
    margin-right: 5px;
}

.page-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topmenu {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr 4fr 2fr 3fr;
    padding: 0 10px 0;
    align-items: center;
}

.menu-container {
   display: grid;
   grid-template-columns: 4fr 1fr;
   grid-column-gap: 10px;
}

.page-list {
    list-style-type: none;
}

.page {
    padding: 0 30px 0;
    text-decoration: none;
    font-size: 23px;
}

.login {
    display: flex;
    flex-direction: row;
    padding: 0 0 0;
    justify-content: center;
    align-items: center;
}

.page-ref {
    text-decoration: none;
    color: #d0d0d0;
}

.page-ref:visited {
    text-decoration: none;
    color: #d0d0d0;
}

.page-ref:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

.current-page {
    text-decoration: underline;
    color: #b5b5b5;
    font-size: 23px;
}

.prev-page-ref:hover, .next-page-ref:hover {
    text-decoration: none;
}

.topmenu-item-ref, .login-ref {
    color: #b5b5b5;
    font-family: Gabriola;
    font-size: 25px;
    display: inline-block;
    padding: 20px;
}

a:visited {
    color: #b5b5b5;
}

.login-ref {
   color: #b5b5b5;
   margin-left: 30px;
}

.topmenu-item-ref:hover, .login-ref:hover {
    color: #e0e0e0;
}

.app-name {
    height: 40px;
    background-color: #202020;
    text-align: center;
    padding: 0 0 0 0;
   }

.app-name p {
    font-size: 14px;
    margin: 3px 0;
}

#next-post-load {
    display: flex;
    justify-content: center;
    border: none;
}

::-webkit-scrollbar {
    background-color: #303030;
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c5c5c5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.return-home {
    text-align: center;
    background-color: #252525;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.success-message {
    background-color: #005000;
    text-align: center;
}

.errors {
    background-color: #7a1010;
    text-align: center;
}

.info {
    background-color: #454545;
    text-align: center;
}