.searched-posts {
   display: block;
}

.searched-post-block {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around;
}

.searched-post-title, .searched-post-date, .searched-post-ref {
    padding: 0 5px 0 5px;
    border: none;
}

.searched-post-title {
    width: 300px;
}

.searched-post-date {
    width: 150px;
}

.searched-post-ref {
    color: #b5b5b5;
}

.searched-post-ref:hover {
    color: #e0e0e0;
}

.searched-post-ref:underline {
    color: #a7a7a7;
    text-decoration: underline;
}