{% extends 'base.html' %}

{% block content %}
    <div class="subs-search-toolbar">
        <span class="subs-search">
            <form action="" class="search-form subs-search" method='get' id="subs-search-form">
                <p><label for="" class="form-label"></label></p>
                <button type="reset" class="reset-button">Reset text</button>
            </form>
        </span>
        <span class="reset-search-form">
            <a href=""><p>Reset search results</p></a>
        </span>
        <span class="subs-sort">
            <span>Sort groups by:</span>
        <select name="group-sort-select">
            <optgroup label="by alphabet:"></optgroup>
                <option value="asc">by alphabet (asc)</option>
                <option value="desc">by alphabet (desc)</option>
            <optgroup label="by posts count:"></optgroup>
                <option value="asc">by posts count (asc)</option>
                <option value="desc">by posts count (desc)</option>
        </select>
        </span>
        {% if groups|length != 0 %}
            <span class="searched-subs-count">
                <p>Groups found: {{ groups|length }}</p>
            </span>
        {% endif %}
    </div>

    <div class="all-subs" cellpadding="5" cellspacing="5" border="1">
        {% for group in groups %}
            <div class="subs-block">
                <h3>
                    <a href="group/{{ group.id }}">{{ group.title }}</a>
                </h3>
                <span><img class="subs-image" src="{{ group.image.url }}" alt="{{ group.group_title }}"></span>
                <span><a href="pages/group/{{ group_id }}"><h3>{{ group.group_title }}</h3></a></span>
                <p>Количество постов: {{ group.posts|length }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}