<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png"/>
</head>
<header class="topmenu">
    <div class="topmenu-left d-flex align-items-center">
        <div class="logo">
            <a href="/pages">
                <img src="{{ url_for('static', path='/images/app_logo.png') }}" alt="MyVkFeed">
            </a>
        </div>

        {% for item in menu %}
            <a class="topmenu-item-ref" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    </div>

    <div class="topmenu-right">
        <a class="logout-ref" href="">
            {{ user.name }} | Выйти
        </a>
    </div>
</header>
<body>
    {% block content %}
    {% endblock content %}

    {% block pagination %}
    {% endblock %}
</body>
{% block footer %}
<footer class="app-footer">
    <p>MyVkFeed v{{ version }} by nshib<br>{{ year }}</p>
</footer>
{% endblock %}
</html>