<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png"/>
</head>
<header>
    <span class="menu-container">
    <div class="topmenu">
        {% block menu %}
        <div class="logo" valign="top">
             <a href="/pages">
                <img src="{{ url_for('static', path='/images/app_logo.png') }}" alt="MyVkFeed">
             </a>
        </div>
            {% for item in menu %}
                <span class="topmenu-item" valign="top">
                    <a class="topmenu-item-ref" href="{{ item.url }}">{{ item.title }}</a>
                </span>
            {% endfor %}
    </div>
    <span class="topmenu-item right">
        <p><a class="login-ref" href="/pages/logout">{{ user.name }} | Выйти</a></p>
    </span>
    {% endblock menu %}
    </span>
</header>
<body>
    {% block content %}
    {% endblock content %}

    {% block pagination %}
    {% endblock %}
</body>
{% block footer %}
{% endblock %}

{% block app_info %}
<div class="app-name">
    <p>MyVkFeed v{{ version }} by nshib<br>{{ year }}</br>
</div>
{% endblock %}
</html>