{% extends 'base.html' %}

{% block content %}
<div class="subs-search-toolbar">
    <span class="subs-search">
        <form action="" class="search-form subs-search" method='get' id="subs-search-form">
            <p><label for="" class="form-label"></label></p>
            <button type="reset" class="reset-button">Очистить</button>
        </form>
    </span>
    <span class="reset-search-form">
        <a href=""><p>Сбросить результаты поиска</p></a>
    </span>
    <span class="subs-sort">
        <span>Сортировка:</span>
    <select name="group-sort-select">
        <optgroup label="По алфавиту:"></optgroup>
            <option value="asc">А-Я</option>
            <option value="desc">Я-А</option>
        <optgroup label="По количеству постов:"></optgroup>
            <option value="asc">По возрастанию</option>
            <option value="desc">По убыванию</option>
    </select>
    </span>
    {% if groups|length != 0 %}
        <span class="searched-subs-count">
            <p>Групп найдено: {{ groups|length }}</p>
        </span>
    {% endif %}
    {% block groups_content %}
    {% endblock %}
</div>

<div class="all-groups" cellpadding="5" cellspacing="5" border="1">
    {% for group in groups %}
        <div class="subs-block">
            <h3>
                <a href="{{ url_for('get_group_page', group_id=group.id) }}">{{ group.title }}</a>
            </h3>
            <span>
                <img class="subs-image" src="{{ group.image.url }}" alt="{{ group.group_title }}">
            </span>
            <p>Количество постов: {{ group.posts|length }}</p>
            {% if group.is_hidden %}
                <a href="{{ url_for('show_group', group_id=group.id) }}">Сделать группу видимой</p>
            {% else %}
                <a href="{{ url_for('hide_group', group_id=group.id) }}">Скрыть группу</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}