{% extends 'base.html' %}

{% block content %}
<div class="group-header">
    <img src="{{ group.image.url }}" alt="Аватар группы {{ group.title }}">
    <h1>{{ group.title }}</h1>
    {% if group.posts|length != 0 %}
        <p>Постов: {{ group.posts|length }}</p>
    {% else %}
       <p><br>У группы {{ group.title }} нет сохранённых постов.</p>
        <a href="/pages/groups">Вернуться в меню групп</a>
    {% endif %}
</div>
<div class="group-posts">
    {% for post in group.posts %}
    <div class="post">
        <h3>{{ post.pub_date }}<br><br></h3>
        <p>{{ post.text|truncate(1000) }}</p>
        {% if post.text|length > 1000 %}
        <a class="post-continue-reading-ref" href="{{ post.get_absolute_url }}"><p>читать дальше...</p></a>
        {% endif %}
        {% if post.images|length != 0 %}
            <div class="post-imgs">
                {% for img in post.images %}
                    <div class="imgs-container">
                        <a href="{{ img.url }}"><img src="{{ img.url }}" alt="Картинка #{{ img.id }}"></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}