{% extends 'base.html' %}

{% block content %}
<body>
            <div class="container my-5">
                <div class="row infinite-container">
                    {% if posts|length == 0 %}
                        <div class="info">
                            <p>Нет сохранённых постов. Возможно, вы либо убрали все группы из ленты, либо не подписаны ни на одну группу.</p>
                        </div>
                    {% else %}
                     {% for post in posts %}
                       <div class="col-md-6 infinite-item">
                        <h2>{{ post.group_title }}</h2>
                        <h3>{{ post.pub_date.strftime('%d.%m.%Y %H:%M') }}</h3>
                        {% if post.text|length > 1000 %}
                            <p>{{ post.text|truncate(1000) }}</p>
                           <a class="post-continue-reading-ref" href="/pages/post/{{ post.id }}"><p>читать дальше...</p></a>
                        {% else %}
                            <p>{{ post.text }}</p>
                        {% endif %}
                            <div class="post-imgs">
                                {% for image in post.images %}
                                    <div class="imgs-container">
                                        <a href="{{ image.url }}"><img src="{{ image.url }}" alt="Картинка #{{ image.id }}"></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
           {% endfor %}
                </div>
            {% endif %}
    </body>
{% endblock %}