{% extends 'base.html' %}

{% block content %}
   <div class="post">
    <h2>{{ post.group_title }}</h2>
    <h3>{{ post.pub_date.strftime('%d.%m.%Y %H:%M') }}</h3>
    <p>{{ post.text }}</p>
    {% if post.images|length != 0 %}
       <div class="post-imgs">
           {% for img in post.images %}
               <div class="imgs-container">
                   <img src="{{ img.url }}" alt="Картинка #{{ img.id }}">
               </div>
           {% endfor %}
       </div>
       {% endif %}
    </div>
{% endblock %}