{% extends 'main/base.html' %}

{% block content %}
<div>
    <h2>v0.7.0 (24.08.2022)</h2>
    <h3>Изменения:</h3>
    <ul>
        <li>Добавлена возможность регистрации и авторизации пользователей на сайте.</li>
        <li>Внесены небольшие изменения в логику фильтров групп.</li>
        <li>В правый угол верхнее меню добавлена надпись с ником пользователя.</li>
    </ul>
</div>

<div>
    <h2>v0.6.0 (17.08.2022)</h2>
    <h3>Изменения:</h3>
    <ul>
        <li>Работа над функцией скрытия групп завершена. Теперь пользователь может не только скрывать паблики из ленты, но и возвращать в ленту группы, скрытые ранее.</li>
        <li>Доработана логика форм для фильтра групп.</li>
        <li>Добавлен вывод сообщения при скрытии/возвращении в ленту пабликов для большего удобства пользования фильтрами.</li>
        <li>Добавлена страница "История проекта" (на которой вы сейчас находитесь), где будет находиться список изменений каждой версии приложения.</li>
    </ul>
</div>
{% endblock %}